.app-container {
	background: lightcyan;
}

.header {
	background: lightslategray;
}

h1 {
	text-align: center;
	color: blanchedalmond;
	font-family: 'Lacquer', sans-serif;
}

img {
	width: 65%;
	height: 75%;
	padding: 45px;
	border: dashed 2px #000080;
}

.row1,
.row2 {
	display: flex;
	align-items: auto;
	padding: 5px;
	margin: 5px;
	border: solid 1px blanchedalmond;
}

h5 {
	font-family: 'Lacquer', sans-serif;
	text-align: center;
	font-size: 18px;
	color: navy;
}

.film-title-overlay {
	transition: bottom ease 1s;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.film-cover:hover .film-title-overlay {
	display: block;
}

.film-cover {
	flex: 1;
	position: relative;
}

@media only screen and (max-width: 640px) {
	.row1,
	.row2 {
		flex-direction: column;
	}
}
