.app-container {
	background: lightcyan;
}

.header {
	background: lightslategray;
}

h1 {
	text-align: center;
	color: blanchedalmond;
	font-family: 'Lacquer', sans-serif;
}

img {
	width: 65%;
	height: 75%;
	padding: 45px;
	border: dashed 2px #000080;
}

.row1,
.row2 {
	display: flex;
	align-items: auto;
	padding: 5px;
	margin: 5px;
	border: solid 1px lightyellow;
}

h5 {
	font-family: 'Lacquer', sans-serif;
	text-align: center;
	font-size: 18px;
	color: navy;
}

.film-cover-overlay {
	transition: top ease 1s;
	display: none;
	position: absolute;
	width: 100%;
	top: -10px;
	right: 0;
	background-color: blanchedalmond;
	width: 65%;
	align-content: center;
	opacity: 0.7;
}

.film-cover:hover .film-cover-overlay {
	display: block;
	top: 0;
}

.film-cover {
	flex: 1;
	position: relative;
	overflow: hidden;
}
.scandi-film-details {
	background: slateblue;
}
h4 {
	font-family: 'Lacquer', sans-serif;
	font-size: 20px;
	text-align: center;
	color: lightsalmon;
}

@media only screen and (max-width: 640px) {
	.row1,
	.row2 {
		flex-direction: column;
	}
}
