.app-container {
	background: lightcyan;
}

.header {
	background: lightslategray;
}

h1 {
	text-align: center;
	color: blanchedalmond;
	font-family: 'Lacquer', sans-serif;
}

img {
	width: 65%;
	height: 75%;
	padding: 45px;
	border: dashed 2px #000080;
}

.row1,
.row2 {
	display: flex;
	align-items: auto;
	padding: 5px;
	margin: 5px;
}

h5 {
	font-family: 'Lacquer', sans-serif;
	text-align: center;
	font-size: 18px;
	color: navy;
}
.film-title-overlay {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.bolgen:hover .film-title-overlay {
	display: block;
}
.the-hunt:hover .film-title-overlay {
	display: block;
}
.girl-with-the-dragon-tattoo:hover .film-title-overlay {
	display: block;
}
.snabbe-cash:hover .film-title-overlay {
	display: block;
}
.trapped:hover .film-title-overlay {
	display: block;
}
.dicte:hover .film-title-overlay {
	display: block;
}

.bolgen,
.the-hunt,
.girl-with-the-dragon-tattoo,
.snabbe-cash,
.trapped,
.dicte {
	flex: 1;
	position: relative;
}

@media only screen and (max-width: 640px) {
	.row1,
	.row2 {
		flex-direction: column;
	}
}
